/*GENERAL*/

a {
	text-decoration: none;
  color: inherit;
}

body {
  background-color: #5E5E5E;
  color: white;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

#containerdiv div, .profile-photo, form, #apislist img, 
#portfoliolist img, #connectionlist img, #archivelist img {
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
    5px 5px 5px rgba(0,0,0, .5);
}


/*FONTS*/

header, nav, h3, #containerdiv div, form, .submit {
  font-family: 'Fredericka the Great', cursive;
}

body, input, textarea {
  font-family: 'Josefin Sans', sans-serif;
}


/*FONT SIZE & WEIGHT, TEXT ALIGNMENT & SHADOW*/

header, #containerdiv div, footer, .abouttext, #form-messages, 
form, .exh3, #pdf, #portfoliolist h3, .apish3, .study, .statement {
  text-align: center;
}

h3, h1, h2, .apish3, .study, #exhibitslist a:visited {
  font-weight: normal;
}

nav a:hover, nav a:focus, #exhibitslist a, #pdf a {
  font-weight: bold;
}

h3, header, #containerdiv div, footer, form, .submit, .exh3, 
#exhibitslist a, #pdf a {
  text-shadow: 0 4px 2px rgba(0,0,0,1);
}

h3, #exhibitslist li, .abouttext p, #primary p, #secondary a, 
#apislist p, #archivelist p, #connectionlist p, .submit, nav a, #pdf p, .statement p {
  font-size: 1.5em;
}

h2, .about a, .portfolio a, .contact a, .cv a, .exhibits a {
  font-size: 2em;
}

h1 {
  font-size: 3em;
}

form, .sdcredit {
  font-size: 1.25em;
}

#exhibitslist a:hover, #exhibitslist a:focus, #pdf a:hover, #pdf a:focus {
  font-style: italic;
}


/*HEADER*/

h1 {
	margin-bottom: 0;
}

h2 {
  margin-top: 0;
}


/*NAVIGATION*/

.mainnav, .dropnav, .flyoutnav {
  padding-left: 0;
}

.mainnav {
  list-style: none;
  margin: 0 0 5px;
}

.dropnav, .flyoutnav {
  display: none;
}

.dropdown:hover > .dropnav, .dropdown:focus > .dropnav {
  display: block;
  background-color: #555555;
}

.flyout:hover > .flyoutnav, .flyout:focus > .flyoutnav {
  display: block;
  background-color: #4C4C4C;
}

.selected {
  font-style: italic;
}

.selected:after, .selected:before {
  content: "~";
}


/*HOME IMAGES*/

.about a, .portfolio a, .contact a, .cv a, .exhibits a {
  display: block;
  padding: 30px;
}

#containerdiv div {
  margin: 20px 0;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.about {
  background-size: 100% 250%;
	background-image: url('../img/connection/sdatfirstdetail.jpg');
	background-position: center;
}

.contact {
  background-size: 100% 250%;
	background-image: url('../img/apis/hivedetail.JPG');
	background-position: center bottom;
}

.cv {
  background-size: 100% 200%;
	background-image: url('../img/connection/sdchosenpathdetail.jpg');
	background-position: center;
}

.exhibits {
  background-size: 100% 250%;
	background-image: url('../img/connection/sdunknowndetail.jpg');
	background-position: center;
}

.portfolio {
  background-size: 100% 250%;
	background-image: url('../img/connection/sdwitheachdetail.jpg');
	background-position: center top;
}


/*FOOTER*/

.social-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px rgba(0,0,0, .4);
}


/*ABOUT*/

.profile-photo {
  width: 90%;
  max-width: 360px;
  margin-top: 10px;
}

/*CONTACT*/

form {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../img/connection/sdpromisedetail.jpg');
  background-position: center;
  max-width: 640px;
}

input {
  border-radius: 5px;
}

#name, #email {
  min-width: 200px;
  width: 70%;
  height: 30px;
}

.submit {
  background-color: #555555;
  border-color: #444444;
  color: white;
  border-radius: 5px;
  width: initial;
}

.checkbox {
  width: 30px;
}

textarea {
  border-radius: 5px;
  width: 80%;
  height: 100px;
}


/*EXHIBITS*/

#exhibitslist li {
  margin-bottom: 10px;
}

/*CV*/

#pdf {
  max-width: 666px
}

/*PORTFOLIO*/

#portfoliolist, #apislist, 
#connectionlist, #archivelist {
  list-style: none;
  padding-left: 0;
}

.sdcredit {
  display: inline-block;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 24px;
}

#apislist img, #portfoliolist img, #connectionlist img,
#archivelist img {
  max-width: 100%
}

/*CONNECTION*/

.statement {
  max-width: 920px;
}