/*GENERAL*/

a {
	text-decoration: none;
  color: inherit;
}

body {
  background-color: #5E5E5E;
  color: white;
  margin: 0;
}

h3 {
  font-weight: normal;
}

/*FONTS*/

header {
  font-family: 'Fredericka the Great', cursive;
}

nav {
  font-family: 'Fredericka the Great', cursive;
}

h3 {
  font-family: 'Fredericka the Great', cursive;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

/*HEADER*/

header {
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
}

h1 {
	font-size: 40px;
	font-weight: normal;
	margin-bottom: -20px;
  color: white;
}

h2 {
	font-size: 30px;
	font-weight: normal;
  border: 10px white;
  color: white;
}

/*NAVIGATION*/

.mainnav {
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
}

.dropdown, .flyout {
  position: relative;
}

.dropdown:after {
  content: "\25BC";
  font-size: 1em;
  position: absolute;
  right: 47%;
  top: 40%;
}

.dropnav, .flyoutnav {
  position: absolute;
  display: none;
}

nav a:hover, nav a:focus{
  font-weight: bold;
}

.dropdown:hover > .dropnav, .dropdown:focus > .dropnav {
  display: block;
  right: 13%;
  top: 60%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #555555;
  padding: 0 70px;
}

.flyout:hover > .flyoutnav, .flyout:focus > .flyoutnav {
  display: block;
  right: -105%;
  top: 40%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #4C4C4C;
  padding: 0 61px;
}

li.dropdown {
  padding-bottom: 20px;
}

li.dropdown:hover, li.dropdown:focus {
  background-color: #555555;
}

.dropnav li {
  padding: 0 0 10px;
}

.selected {
  font-style: italic;
}

.selected:after, .selected:before {
  content: "~";
}

/*HOME IMAGES*/

.about {
	font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
  margin: 20px 10px;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
  	5px 5px 5px rgba(0,0,0, .5);
  border-radius: 10px;
	background-image: url('../img/about.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

.about a {
  color: white;
  font-size: 30px;
  display: block;
  padding: 30px;
}

.contact {
	font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
  margin: 20px 10px;
  background-size: 100% 150%;
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
  	5px 5px 5px rgba(0,0,0, .5);
  border-radius: 10px;
	background-image: url('../img/contact.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

.contact a {
  color: white;
  font-size: 30px;
  display: block;
  padding: 30px;
}

.cv {
	font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
  margin: 20px 10px;
  background-size: 100% 125%;
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
  	5px 5px 5px rgba(0,0,0, .5);
  border-radius: 10px;
	background-image: url('../img/cv.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

.cv a {
  color: white;
  font-size: 30px;
  display: block;
  padding: 30px;
}

.exhibits {
	font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
  margin: 20px 10px;
  background-size: 100% 250%;
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
  	5px 5px 5px rgba(0,0,0, .5);
  border-radius: 10px;
	background-image: url('../img/exhibits.png');
	background-position: center top;
	background-repeat: no-repeat;
}

.exhibits a {
  color: white;
  font-size: 30px;
  display: block;
  padding: 30px;
}

.portfolio {
	font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
  margin: 20px 10px;
  background-size: 100% 250%;
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
  	5px 5px 5px rgba(0,0,0, .5);
  border-radius: 10px;
	background-image: url('../img/portfolio.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

.portfolio a {
  color: white;
  font-size: 30px;
  display: block;
  padding: 30px;
}

/*FOOTER*/

.social-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px rgba(0,0,0, .4);
}

footer {
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
}

/*ABOUT*/

h3 {
  text-shadow: 0 4px 2px rgba(0,0,0,1);
}

.profile-photo {
  max-width: 90%;
  margin-top: 20px;
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
    5px 5px 5px rgba(0,0,0, .5);
}

.abouttext {
  text-align: center;
  width: 90%;
  margin: 0 5% 5%;
  border: 10px 0 0 0 white;
}

/*CONTACT*/

#primary {
  text-align: center;
  margin-top: 30px;
}

#secondary {
  text-align: center;
}

.contact-info {
  list-style: none;
  padding: 1px 40px 10px 30px;
  background-image: url('../img/icons/email.png');
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 0 5px 10px 45px;
}

.mail a {
  font-size: 20px;
}

.mail a:hover, .mail a:focus {
  font-weight: bold;
}

/*EXHIBITS*/

.exh3 {
  text-align: center;
  text-shadow: 0 4px 2px rgba(0,0,0,1);
}

#exhibitslist a {
  text-shadow: 0 4px 2px rgba(0,0,0,1);
  /*text-decoration: underline;*/
  font-weight: bold;
}

#exhibitslist a:hover , #exhibitslist a:focus {
  font-style: italic;
}

#exhibitslist a:visited {
  font-weight: normal;
}

#exhibitslist li {
  margin:5px 5px 5px 0;
}

/*CV*/

#pdf {
  text-align: center;
}

/*PORTFOLIO*/

#portfoliolist img {
  max-width: 90%;
}

#portfoliolist {
  list-style: none;
}

.sdcredit {
  font-size: .85em;
  font-style: italic;
  font-weight: lighter;
}

#apislist img {
  box-shadow: inset 0px 0px 1px 1000px rgba(0,0,0, .2), 
    5px 5px 5px rgba(0,0,0, .5);
}

/*APIS*/

.apish3 {
  text-align: center;
  font-weight: normal;
}

#apislist img {
  max-width: 90%
}

#apislist {
  list-style: none;
}

/*OVERLAY*/
/*
#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  min-height: 2500px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 10%;
  max-width: 90%;
  max-height: 90%;
}

#overlay p {
  color: white;
}
*/